@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 5px 0 black;
  border-radius: 5px;
  margin-top: 25px;
  width: 1024px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin: 25px;
}

input {
  border: 0;
  border-bottom: 2px solid #666;
  font-size: 18px;
  outline: none;
}

input:focus {
  border-color: black;
}

form input::placeholder {
  color: #999;
}

form button {
  padding: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0 0 5px 0 black;
  border-radius: 5px;
  background-color: white;
}

h1 {
  font-size: 24px;
  margin-bottom: 25px;
}

.search {
  margin: 25px 0;
}

.index {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: 25px;
  box-shadow: 0 0 5px 0 black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.hide {
  display: none;
}

i.hide {
  display: none;
}

.left.line-through {
  text-decoration: line-through;
}

p {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 2px solid;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.p-not-completed {
  color: red;
}

.p-completed {
  color: green;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  box-shadow: 0 0 5px 0 black;
  border-radius: 5px;
  font-size: 21px;
  padding: 5px;
}

i {
  padding: 5px;
  cursor: pointer;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 320px;
  }
}
